simplify : add column indicating 1-10 for city and then filter data on that city. if # is not a waterfront city, call functions for nw and if waterfront call functions for w.

In [1]:
import numpy as np
import matplotlib.pyplot as plot
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import zipcodes
#from pyzipcode import ZipCodeDatabase
#from uszipcode import ZipcodeSearchEngine

In [2]:
kc = pd.read_csv('/Users/tovasimonson/Downloads/kc_house_data.csv')

In [3]:
kc.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
kc.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
kc.loc[kc['sqft_basement'] != 0, 'sqft_basement'] = 1
kc.loc[kc['yr_renovated'] != 0, 'yr_renovated'] = 1
cities = []
for i in kc['zipcode']:
    code = i
    code = str(code)
    city = zipcodes.matching(code)[0]['city']
    cities.append(city)
kc['city']=cities
kc = kc.drop(columns=['id','date', 'sqft_living','lat', 'long','grade',  'view', 'sqft_living15', 'sqft_lot15', 'sqft_above'])
kc['sqft_lot'] = np.log(kc.sqft_lot)
kc['price']= np.log(kc.price)

In [7]:
seattle = kc[kc.city=='SEATTLE']
renton = kc[kc.city=='RENTON']
bellevue = kc[kc.city=='BELLEVUE']
kent = kc[kc.city=='KENT']    #no waterfront in kent
#kent = kent.drop(columns=['waterfront'])
redmond = kc[kc.city=='REDMOND']
kirkland = kc[kc.city=='KIRKLAND']
auburn = kc[kc.city=='AUBURN']  #no waterfront in auburn
#auburn = auburn.drop(columns=['waterfront'])
sammamish = kc[kc.city=='SAMMAMISH']
fedway = kc[kc.city=='FEDERAL WAY']
issaquah = kc[kc.city=='ISSAQUAH']

In [8]:
seattle.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000,8977.000000
mean,13.052107,3.169433,1.893868,8.542789,1.461234,0.008132,3.438454,0.524117,1954.970257,0.062270,98133.633062
std,0.506028,1.038867,0.787830,0.697614,0.588531,0.089815,0.702384,0.499446,32.212635,0.241659,28.168332
min,11.264464,0.000000,0.000000,6.253829,1.000000,0.000000,1.000000,0.000000,1900.000000,0.000000,98102.000000
25%,12.727838,3.000000,1.000000,8.268732,1.000000,0.000000,3.000000,0.000000,1928.000000,0.000000,98115.000000
50%,13.023647,3.000000,1.750000,8.627661,1.000000,0.000000,3.000000,1.000000,1951.000000,0.000000,98122.000000
75%,13.353475,4.000000,2.500000,8.963160,2.000000,0.000000,4.000000,1.000000,1978.000000,0.000000,98148.000000
max,15.856731,33.000000,8.000000,11.829297,3.500000,1.000000,5.000000,1.000000,2015.000000,1.000000,98199.000000

In [9]:
renton.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000,1597.000000
mean,12.821480,3.507827,2.130088,9.116459,1.466187,0.001879,3.483406,0.263619,1979.654352,0.023795,98057.281152
std,0.397391,0.838886,0.707012,0.688102,0.496967,0.043315,0.690433,0.440733,22.759437,0.152457,1.518219
min,11.461632,1.000000,0.750000,7.269617,1.000000,0.000000,1.000000,0.000000,1900.000000,0.000000,98055.000000
25%,12.578670,3.000000,1.750000,8.784622,1.000000,0.000000,3.000000,0.000000,1963.000000,0.000000,98056.000000
50%,12.788288,3.000000,2.250000,9.001593,1.000000,0.000000,3.000000,0.000000,1979.000000,0.000000,98058.000000
75%,13.038982,4.000000,2.500000,9.288412,2.000000,0.000000,4.000000,1.000000,2001.000000,0.000000,98059.000000
max,14.914123,8.000000,5.500000,13.798362,3.000000,1.000000,5.000000,1.000000,2015.000000,1.000000,98059.000000

In [10]:
bellevue.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000,1407.000000
mean,13.577792,3.821606,2.401386,9.325139,1.371357,0.009950,3.625444,0.486851,1972.755508,0.048330,98005.932480
std,0.480437,0.896581,0.798015,0.537408,0.488645,0.099289,0.665984,0.500005,17.641480,0.214538,1.386427
min,12.419166,2.000000,0.750000,6.658011,1.000000,0.000000,1.000000,0.000000,1908.000000,0.000000,98004.000000
25%,13.217674,3.000000,1.750000,9.047468,1.000000,0.000000,3.000000,0.000000,1959.000000,0.000000,98005.000000
50%,13.526494,4.000000,2.500000,9.229064,1.000000,0.000000,4.000000,0.000000,1968.000000,0.000000,98006.000000
75%,13.815485,4.000000,2.750000,9.529702,2.000000,0.000000,4.000000,1.000000,1985.000000,0.000000,98007.000000
max,15.770310,10.000000,6.250000,11.630895,3.000000,1.000000,5.000000,1.000000,2015.000000,1.000000,98008.000000

In [11]:
kent.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000,1203.0,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000
mean,12.568286,3.438903,2.095594,9.158377,1.458437,0.0,3.477140,0.247714,1982.851205,0.016625,98035.901912
std,0.286893,0.720660,0.603912,0.722265,0.493655,0.0,0.632009,0.431864,19.147913,0.127915,5.606511
min,11.350407,0.000000,0.000000,7.353082,1.000000,0.0,2.000000,0.000000,1900.000000,0.000000,98030.000000
25%,12.409013,3.000000,1.750000,8.747749,1.000000,0.0,3.000000,0.000000,1969.000000,0.000000,98031.000000
50%,12.553909,3.000000,2.250000,8.991562,1.000000,0.0,3.000000,0.000000,1984.000000,0.000000,98032.000000
75%,12.736627,4.000000,2.500000,9.295600,2.000000,0.0,4.000000,0.000000,1997.000000,0.000000,98042.000000
max,13.663524,6.000000,5.000000,13.002318,3.000000,0.0,5.000000,1.000000,2014.000000,1.000000,98042.000000

In [12]:
redmond.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000
mean,13.345096,3.449438,2.399132,9.302113,1.612870,0.003064,3.213483,0.240041,1990.517875,0.012257,98052.413687
std,0.321553,0.856974,0.641606,0.971570,0.508394,0.055300,0.459374,0.427326,15.683489,0.110089,0.492746
min,12.043554,0.000000,0.000000,6.665684,1.000000,0.000000,1.000000,0.000000,1919.000000,0.000000,98052.000000
25%,13.122363,3.000000,2.000000,8.684820,1.000000,0.000000,3.000000,0.000000,1978.000000,0.000000,98052.000000
50%,13.345507,3.000000,2.500000,9.065546,2.000000,0.000000,3.000000,0.000000,1990.000000,0.000000,98052.000000
75%,13.551542,4.000000,2.500000,9.588534,2.000000,0.000000,3.000000,0.000000,2004.000000,0.000000,98053.000000
max,14.639686,7.000000,8.000000,13.025621,3.000000,1.000000,5.000000,1.000000,2014.000000,1.000000,98053.000000

In [13]:
kirkland.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,977.000000,977.00000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000
mean,13.257383,3.50870,2.216479,9.063371,1.396111,0.010235,3.426817,0.410440,1977.255885,0.030706,98033.557830
std,0.455257,0.79585,0.745780,0.499274,0.489338,0.100703,0.640998,0.492166,19.107977,0.172609,0.496899
min,11.407565,1.00000,0.750000,7.215240,1.000000,0.000000,1.000000,0.000000,1900.000000,0.000000,98033.000000
25%,12.959844,3.00000,1.750000,8.881975,1.000000,0.000000,3.000000,0.000000,1967.000000,0.000000,98033.000000
50%,13.142166,3.00000,2.250000,9.038840,1.000000,0.000000,3.000000,0.000000,1976.000000,0.000000,98034.000000
75%,13.513053,4.00000,2.500000,9.259131,2.000000,0.000000,4.000000,1.000000,1989.000000,0.000000,98034.000000
max,15.446867,8.00000,5.250000,12.581010,3.000000,1.000000,5.000000,1.000000,2014.000000,1.000000,98034.000000

In [14]:
auburn.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,912.000000,912.000000,912.000000,912.000000,912.000000,912.0,912.000000,912.000000,912.000000,912.000000,912.000000
mean,12.524862,3.416667,2.059759,9.256474,1.475877,0.0,3.418860,0.196272,1981.213816,0.021930,98036.241228
std,0.333024,0.765378,0.649236,0.893153,0.490826,0.0,0.605496,0.397395,23.803331,0.146535,44.130543
min,11.407565,0.000000,0.000000,7.548556,1.000000,0.0,2.000000,0.000000,1900.000000,0.000000,98001.000000
25%,12.319401,3.000000,1.750000,8.748424,1.000000,0.0,3.000000,0.000000,1967.000000,0.000000,98001.000000
50%,12.506177,3.000000,2.250000,9.030316,1.000000,0.0,3.000000,0.000000,1985.000000,0.000000,98002.000000
75%,12.713868,4.000000,2.500000,9.413791,2.000000,0.0,4.000000,0.000000,2000.000000,0.000000,98092.000000
max,13.742940,7.000000,5.250000,12.963255,2.500000,0.0,5.000000,1.000000,2014.000000,1.000000,98092.000000

In [15]:
sammamish.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,13.450999,3.728750,2.605625,9.362277,1.75625,0.020000,3.166250,0.222500,1991.676250,0.016250,98074.448750
std,0.313309,0.714711,0.645044,0.710070,0.44745,0.140088,0.431676,0.416185,13.597888,0.126515,0.497678
min,12.542545,1.000000,0.750000,7.477038,1.00000,0.000000,2.000000,0.000000,1908.000000,0.000000,98074.000000
25%,13.249877,3.000000,2.250000,8.910079,1.50000,0.000000,3.000000,0.000000,1983.000000,0.000000,98074.000000
50%,13.442270,4.000000,2.500000,9.237664,2.00000,0.000000,3.000000,0.000000,1992.000000,0.000000,98074.000000
75%,13.629176,4.000000,2.750000,9.643518,2.00000,0.000000,3.000000,0.000000,2001.250000,0.000000,98075.000000
max,14.978661,7.000000,6.500000,12.686073,3.00000,1.000000,5.000000,1.000000,2015.000000,1.000000,98075.000000

In [16]:
fedway.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000
mean,12.522284,3.400513,2.056483,9.138022,1.318999,0.005135,3.381258,0.390244,1978.118100,0.012837,98015.811297
std,0.314410,0.688727,0.634044,0.430536,0.459796,0.071519,0.548152,0.488118,15.005103,0.112643,9.602864
min,11.367900,1.000000,1.000000,7.171657,1.000000,0.000000,1.000000,0.000000,1916.000000,0.000000,98003.000000
25%,12.325852,3.000000,1.750000,8.907814,1.000000,0.000000,3.000000,0.000000,1967.000000,0.000000,98003.000000
50%,12.498742,3.000000,2.250000,9.057189,1.000000,0.000000,3.000000,0.000000,1978.000000,0.000000,98023.000000
75%,12.676076,4.000000,2.500000,9.255170,2.000000,0.000000,4.000000,1.000000,1988.500000,0.000000,98023.000000
max,14.058457,6.000000,5.000000,11.584185,2.500000,1.000000,5.000000,1.000000,2014.000000,1.000000,98023.000000

In [17]:
issaquah.describe()

,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,condition,sqft_basement,yr_built,yr_renovated,zipcode
count,733.000000,733.000000,733.00000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000
mean,13.264170,3.488404,2.52558,9.029301,1.793315,0.002729,3.278308,0.358799,1991.762619,0.009550,98027.875853
std,0.347967,0.800573,0.65582,1.260736,0.449555,0.052199,0.532066,0.479976,17.618944,0.097322,0.992941
min,11.775290,1.000000,1.00000,6.526495,1.000000,0.000000,2.000000,0.000000,1900.000000,0.000000,98027.000000
25%,13.054085,3.000000,2.25000,8.256607,2.000000,0.000000,3.000000,0.000000,1984.000000,0.000000,98027.000000
50%,13.256894,3.000000,2.50000,8.877521,2.000000,0.000000,3.000000,0.000000,1994.000000,0.000000,98027.000000
75%,13.451667,4.000000,2.50000,9.534812,2.000000,0.000000,3.000000,1.000000,2005.000000,0.000000,98029.000000
max,14.808762,7.000000,6.50000,13.887104,3.000000,1.000000,5.000000,1.000000,2014.000000,1.000000,98029.000000

In [6]:
x = seattle.iloc[:, 1:10].values
y = seattle.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmSEATTLE = LinearRegression()
lmSEATTLE.fit(xTrain, yTrain)
print(lmSEATTLE.score(xTrain, yTrain)  ) #r2 of train
print(lmSEATTLE.score(xTest, yTest) ) #prediction accuracy
yPrediction = lmSEATTLE.predict(xTest)
print(sum(yPrediction<0))
print(lmSEATTLE.coef_)

0.4424919129421388
0.4388279846409048
0
[ 0.0091083   0.25660895  0.04599562  0.28572391  0.63687865  0.07332605
  0.2161608  -0.00493714  0.04174482]

In [7]:
x = renton.iloc[:, 1:10].values
y = renton.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmRENTON = LinearRegression()
lmRENTON.fit(xTrain, yTrain)
print(lmRENTON.score(xTrain, yTrain))   #r2 of train
print(lmRENTON.score(xTest, yTest) ) #prediction accuracy
yPrediction = lmRENTON.predict(xTest)
print(sum(yPrediction<0))
print(lmRENTON.coef_)

0.6445475249364784
0.6103429101773714
0
[0.03166935 0.20252597 0.17849755 0.1492766  1.22757777 0.0883042
 0.01950769 0.00577786 0.07304463]

In [8]:
x = bellevue.iloc[:, 1:10].values
y = bellevue.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmBELLEVUE = LinearRegression()
lmBELLEVUE.fit(xTrain, yTrain)
print(lmBELLEVUE.score(xTrain, yTrain) )  #r2 of train
print(lmBELLEVUE.score(xTest, yTest))  #prediction accuracy
yPrediction = lmBELLEVUE.predict(xTest)
print(sum(yPrediction<0))
print(lmBELLEVUE.coef_)

0.55861512670933
0.5219739256542775
0
[0.00247411 0.24775824 0.24656811 0.10288798 0.6242211  0.03454428
 0.02060656 0.00451781 0.29680931]

In [9]:
x = kent.iloc[:, 1:9].values
y = kent.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmKENT = LinearRegression()
lmKENT.fit(xTrain, yTrain)
print(lmKENT.score(xTrain, yTrain) )  #r2 of train
print(lmKENT.score(xTest, yTest))  #prediction accuracy
yPrediction = lmKENT.predict(xTest)
print(sum(yPrediction<0))
print(lmKENT.coef_)

0.6000877498909066
0.6234382907717505
0
[0.02289861 0.15821218 0.18517034 0.17255182 0.05587743 0.08278722
 0.00378797 0.09351406]

In [14]:
x = kent.iloc[:, 1:10].values
y = kent.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmKENT = LinearRegression()
lmKENT.fit(xTrain, yTrain)
print(lmKENT.score(xTrain, yTrain) )  #r2 of train
print(lmKENT.score(xTest, yTest))  #prediction accuracy
yPrediction = lmKENT.predict(xTest)
print(sum(yPrediction<0))
print(lmKENT.coef_)

0.6000877498909065
0.6234382907717504
0
[2.28986116e-02 1.58212181e-01 1.85170341e-01 1.72551824e-01
 5.55111512e-17 5.58774259e-02 8.27872203e-02 3.78797313e-03
 9.35140647e-02]

In [10]:
x = redmond.iloc[:, 1:10].values
y = redmond.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmREDMOND = LinearRegression()
lmREDMOND.fit(xTrain, yTrain)
print(lmREDMOND.score(xTrain, yTrain) )  #r2 of train
print(lmREDMOND.score(xTest, yTest))  #prediction accuracy
yPrediction = lmREDMOND.predict(xTest)
print(sum(yPrediction<0))
print(lmREDMOND.coef_)

0.60343890061977
0.5637443336630019
0
[ 0.06548053  0.20560559  0.11759256 -0.01351713  0.91093574  0.06793846
 -0.00908112  0.00719481 -0.00813446]

In [11]:
x = kirkland.iloc[:, 1:10].values
y = kirkland.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmKIRKLAND= LinearRegression()
lmKIRKLAND.fit(xTrain, yTrain)
print(lmKIRKLAND.score(xTrain, yTrain) )  #r2 of train
print(lmKIRKLAND.score(xTest, yTest))  #prediction accuracy
yPrediction = lmKIRKLAND.predict(xTest)
print(sum(yPrediction<0))
print(lmKIRKLAND.coef_)

0.6033581693477821
0.6043159244839762
0
[0.01886243 0.19403347 0.24213922 0.27936161 0.93561659 0.05137634
 0.10019139 0.00396725 0.40019381]

In [12]:
x = auburn.iloc[:, 1:9].values
y = auburn.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmAUBURN= LinearRegression()
lmAUBURN.fit(xTrain, yTrain)
print(lmAUBURN.score(xTrain, yTrain) )  #r2 of train
print(lmAUBURN.score(xTest, yTest))  #prediction accuracy
yPrediction = lmAUBURN.predict(xTest)
print(sum(yPrediction<0))
print(lmAUBURN.coef_)

0.6691952117156783
0.6676907553088838
0
[0.04923327 0.15236985 0.18157865 0.16021046 0.05880313 0.06627002
 0.00455184 0.17123456]

In [13]:
x = sammamish.iloc[:, 1:10].values
y = sammamish.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmSAMMAMISH= LinearRegression()
lmSAMMAMISH.fit(xTrain, yTrain)
print(lmSAMMAMISH.score(xTrain, yTrain) )  #r2 of train
print(lmSAMMAMISH.score(xTest, yTest))  #prediction accuracy
yPrediction = lmSAMMAMISH.predict(xTest)
print(sum(yPrediction<0))
print(lmSAMMAMISH.coef_)

0.6459263121426603
0.6941933370995059
0
[0.06243122 0.16620852 0.12749586 0.12683227 0.86788684 0.06480956
 0.01967025 0.00729472 0.27196894]

In [14]:
x = fedway.iloc[:, 1:10].values
y = fedway.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmFEDWAY= LinearRegression()
lmFEDWAY.fit(xTrain, yTrain)
print(lmFEDWAY.score(xTrain, yTrain) )  #r2 of train
print(lmFEDWAY.score(xTest, yTest))  #prediction accuracy
yPrediction = lmFEDWAY.predict(xTest)
print(sum(yPrediction<0))
print(lmFEDWAY.coef_)

0.6195838145044096
0.4760271690231731
0
[0.03113399 0.2162058  0.27803079 0.10053439 0.66512362 0.07843528
 0.05277223 0.00533557 0.04985977]

In [15]:
x = issaquah.iloc[:, 1:10].values
y = issaquah.iloc[:, 0].values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 3/10, random_state = 0)
lmISSAQUAH= LinearRegression()
lmISSAQUAH.fit(xTrain, yTrain)
print(lmISSAQUAH.score(xTrain, yTrain) )  #r2 of train
print(lmISSAQUAH.score(xTest, yTest))  #prediction accuracy
yPrediction = lmISSAQUAH.predict(xTest)
print(sum(yPrediction<0))
print(lmISSAQUAH.coef_)

0.6068451615893917
0.6587904994744653
0
[ 0.07853341  0.26281301  0.08314363 -0.01918853  0.83960931  0.01916189
 -0.0921836   0.00451024  0.15460919]

In [16]:
def user_menu_w():
    info = []
    beds = int(input("Please input the number of bedrooms: "))
    w=0
    while w==0:
        if beds >=1:
            info.append(beds)
            w=1
        else: 
            beds = int(input("Please input the number of bedrooms:"))  
                    
                    
    baths = int(input("Please input the number of bathrooms: "))
    w=0
    while w==0:
        if baths >=1:
            info.append(baths)
            w=1
        else: 
            baths = int(input("Please input the number of bathrooms:"))  
                    
                    
    lot = int(input("Please input the lot square footage: "))
    w=0
    while w==0:
        if lot >=1:
            lot = np.log(lot)
            info.append(lot)
            w=1
        else: 
            lot = int(input("Please input the lot square footage:"))   
                    

    floors = int(input("Please input the number of floors (1+): "))
    w=0
    while w==0:
        if floors >=1:
            info.append(floors)
            w=1
        else: 
            floors = int(input("Please input the number of floors(1+):"))  



    water = str(input("Would you like a waterfront view? (y/n)"))
    w=0
    while w==0:
        if water == 'y':
            water = 1
            info.append(water)
            w=1
        elif water =='n':
            water = 0
            info.append(water)
            w=1
        else: 
            water = str(input("Would you like a waterfront view? (y/n)"))   


    condition = int(input("Please input what condition the home should be in (1-5):"))
    w=0
    while w==0:
        if 1<= condition <= 5:
            info.append(condition)
            w=1
        else: 
            condition = int(input("Please input what condition the home should be in (1-5):"))   


    basement = str(input("Would you like a basement? (y/n)"))
    w=0
    while w==0:
        if basement == 'y':
            basement = 1
            info.append(basement)
            w=1
        elif basement =='n':
            basement = 0
            info.append(basement)
            w=1
        else: 
            basement = str(input("Would you like a basement? (y/n)"))   


    year = int(input("What year should the house be built in? (1900-2015)"))
    w=0
    while w==0:
        if 1900<= year <= 2015:
            info.append(year)
            w=1
        else: 
            year = int(input("What year should the house be built in? (1900-2015)"))

    renovation = str(input("Would you like a renovated house? (y/n)"))
    w=0
    while w==0:
        if renovation == 'y':
            renovation = 1
            info.append(renovation)
            w=1
        elif renovation =='n':
            renovation = 0
            info.append(renovation)
            w=1
        else: 
            renovation = str(input("Would you like a renovated house? (y/n)"))
    return info

In [17]:
def user_menu_nw():
    info = []
    beds = int(input("Please input the number of bedrooms: "))
    w=0
    while w==0:
        if beds >=1:
            info.append(beds)
            w=1
        else: 
            beds = int(input("Please input the number of bedrooms:"))  
                    
                    
    baths = int(input("Please input the number of bathrooms: "))
    w=0
    while w==0:
        if baths >=1:
            info.append(baths)
            w=1
        else: 
            baths = int(input("Please input the number of bathrooms:"))  
                    
                    
    lot = int(input("Please input the lot square footage: "))
    w=0
    while w==0:
        if lot >=1:
            lot = np.log(lot)
            info.append(lot)
            w=1
        else: 
            lot = int(input("Please input the lot square footage:"))   
                    

    floors = int(input("Please input the number of floors (1+): "))
    w=0
    while w==0:
        if floors >=1:
            info.append(floors)
            w=1
        else: 
            floors = int(input("Please input the number of floors(1+):"))  


    condition = int(input("Please input what condition the home should be in (1-5):"))
    w=0
    while w==0:
        if 1<= condition <= 5:
            info.append(condition)
            w=1
        else: 
            condition = int(input("Please input what condition the home should be in (1-5):"))   


    basement = str(input("Would you like a basement? (y/n)"))
    w=0
    while w==0:
        if basement == 'y':
            basement = 1
            info.append(basement)
            w=1
        elif basement =='n':
            basement = 0
            info.append(basement)
            w=1
        else: 
            basement = str(input("Would you like a basement? (y/n)"))   


    year = int(input("What year should the house be built in? (1900-2015)"))
    w=0
    while w==0:
        if 1900<= year <= 2015:
            info.append(year)
            w=1
        else: 
            year = int(input("What year should the house be built in? (1900-2015)"))

    renovation = str(input("Would you like a renovated house? (y/n)"))
    w=0
    while w==0:
        if renovation == 'y':
            renovation = 1
            info.append(renovation)
            w=1
        elif renovation =='n':
            renovation = 0
            info.append(renovation)
            w=1
        else: 
            renovation = str(input("Would you like a renovated house? (y/n)"))
    return info

In [18]:
def list_creation_w(input1):
    trybeds = input1.copy()
    trybaths = input1.copy()
    trysqft = input1.copy()
    tryfloors= input1.copy()
    trywater = input1.copy()
    trycondition= input1.copy()
    trybasement = input1.copy()
    tryreno = input1.copy()

    if input1[0] >1: 
        trybeds[0] = trybeds[0]  - 1
    elif input1[0] == 1:
        trybeds[0] = trybeds[0]
           
    if input1[1] >1: 
        trybaths[1] = trybaths[1] - 1
    elif input1[1] == 1:
        trybaths[1] = trybaths[1]    
        
        
    trysqft[2]= trysqft[2] - trysqft[2]*.05

    if input1[3] > 1:
        tryfloors[3]= tryfloors[3] -1
    elif input1[3] == 1:
        tryfloors[3] = tryfloors[3]
    
    if input1[4] == 1:
        trywater[4]= trywater[4] -1
    elif input1[4] != 1:
        trywater[4] = trywater[4]
    
    if input1[5] >1:     
        trycondition[5]= trycondition[5] -1
    elif input[5] == 1:
        trycondition[5] = trycondition[5]
    
    if input1[6] == 1:
        trybasement[6]= trybasement[6] -1    
    elif input1[6] != 1:
        trybasement[6] = trybasement[6]
        
    if input1[8] == 1:
        tryreno[8]= tryreno[8]-1
    elif input1[8] != 1:
        tryreno[8] = tryreno[8]
    
    list1=[trybeds,trybaths,trysqft, tryfloors, trywater, trycondition, trybasement, tryreno]
    return list1

In [19]:
def list_creation_nw(input1):
    trybeds = input1.copy()
    trybaths = input1.copy()
    trysqft = input1.copy()
    tryfloors= input1.copy()
    trycondition= input1.copy()
    trybasement = input1.copy()
    tryreno = input1.copy()

    if input1[0] > 1: 
        trybeds[0] = trybeds[0]  - 1
    elif input1[0] == 1:
        trybeds[0] = trybeds[0]
           
    if input1[1] > 1: 
        trybaths[1] = trybaths[1] - 1
    elif input1[1]==1:
        trybaths[1] = trybaths[1]    
        
        
    trysqft[2]= trysqft[2] - trysqft[2]*.05

    if input1[3] > 1:
        tryfloors[3]= tryfloors[3] -1
    elif input1[3] ==1:
        tryfloors[3] = tryfloors[3]
    
    if input1[4] > 1:     
        trycondition[4]= trycondition[4] -1
    elif input1[5] == 1:
        trycondition[4] = trycondition[4]
    
    if input1[5] == 1:
        trybasement[5]= trybasement[5] -1    
    elif input1[5]==0:
        trybasement[5] = trybasement[5]
        
    if input1[7] == 1:
        tryreno[7]= tryreno[7]-1
    elif input1[7] ==0:
        tryreno[7] = tryreno[7]
    
    list1=[trybeds,trybaths,trysqft, tryfloors, trycondition, trybasement, tryreno]
    
    return list1

In [20]:
def decreased_price_w(m, l):
    min_index=m
    list1=l
    picked_list = list1[min_index]
    item_list = []
    if min_index == 0:
        item_list.append('bedrooms')
        item_list.append(picked_list[0])
    if min_index == 1:
        item_list.append('bathrooms')
        item_list.append(picked_list[1])
    if min_index == 2:
        item_list.append('lot square footage')
        item_list.append(np.exp(picked_list[2]))
    if min_index == 3:
        item_list.append('floors')
        item_list.append(picked_list[3])
    if min_index == 4:
        item_list.append('waterfront view')
        item_list.append('none') 
    if min_index == 5:
        item_list.append('condition')
        item_list.append(picked_list[5])
    if min_index == 6:
        item_list.append('basement')
        item_list.append('none')  
    if min_index == 8:
        item_list.append('renovation')
        item_list.append('none')    
        
    return item_list

In [21]:
def decreased_price_nw(m, l):
    min_index=m
    list1=l
    picked_list = list1[min_index]
    item_list = []
    if min_index == 0:
        item_list.append('bedrooms')
        item_list.append(picked_list[0])
    if min_index == 1:
        item_list.append('bathrooms')
        item_list.append(picked_list[1])
    if min_index == 2:
        item_list.append('lot square footage')
        item_list.append(np.exp(picked_list[2]))
    if min_index == 3:
        item_list.append('floors')
        item_list.append(picked_list[3])
    if min_index == 4:
        item_list.append('condition')
        item_list.append(picked_list[4])
    if min_index == 5:
        item_list.append('basement')
        item_list.append('none')  
    if min_index == 7:
        item_list.append('renovation')
        item_list.append('none')    
        
    return item_list

In [22]:
#function that asks user to input choice
def user_choice():
    x = 0
    loop = 1
    input1 = []
    #logic statement to stay in loop
    while loop == 1:
        print("Select city from list: Seattle(1), Renton(2), Bellevue(3), Kent(4), Redmond(5), Kirkland(6), Auburn(7), Sammamish(8), Federal Way(9), Issaquah(10)")
        x = int(input("Please input the option number: "))
        #logic statement for which functions or variables to call for each user input
        if x == 1:
            print("----------------------------")
            print("You chose Seattle!")
            
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmSEATTLE.predict(df)
            
            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmSEATTLE.predict(df)
                prices.append(preds)

                
            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)
            
            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

        if x == 2:
            print("----------------------------")
            print("You chose Renton!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmRENTON.predict(df)
            
            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmRENTON.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
            
        if x == 3:
            print("----------------------------")
            print("You chose Bellevue!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmBELLEVUE.predict(df)
           
            
            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmBELLEVUE.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
            
        if x == 4:
            print("----------------------------")
            print("You chose Kent!")
           
            input1 = user_menu_nw()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'condition':input1[4], 'sqft_basement':input1[5], 
                        'yr_built':input1[6],'yr_renovated':input1[7] }]
            df = pd.DataFrame(selection)
            new_pred = lmKENT.predict(df)
            
        
            list1 = list_creation_nw(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 
                            'floors': try_list[3], 'condition':try_list[4], 'sqft_basement':try_list[5], 
                        'yr_built':try_list[6],'yr_renovated':try_list[7] }]
                df = pd.DataFrame(selection)
                preds = lmKENT.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_nw(min_index, list1)
            
            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
            
        if x == 5:
            print("----------------------------")
            print("You chose Redmond!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmREDMOND.predict(df)

            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmREDMOND.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        if x == 6:
            print("----------------------------")
            print("You chose Kirkland!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmKIRKLAND.predict(df)

            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmKIRKLAND.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        if x == 7:
            print("----------------------------")
            print("You chose Auburn!")
           
            input1 = user_menu_nw()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                      'condition':input1[4], 'sqft_basement':input1[5], 
                        'yr_built':input1[6],'yr_renovated':input1[7] }]
            df = pd.DataFrame(selection)
            new_pred = lmAUBURN.predict(df)

            
            list1 = list_creation_nw(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 
                            'floors': try_list[3], 'condition':try_list[4], 'sqft_basement':try_list[5], 
                        'yr_built':try_list[6],'yr_renovated':try_list[7] }]
                df = pd.DataFrame(selection)
                preds = lmAUBURN.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_nw(min_index, list1)
            
            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        if x == 8:
            print("----------------------------")
            print("You chose Sammamish!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmSAMMAMISH.predict(df)
            
            
            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmSAMMAMISH.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        if x == 9:
            print("----------------------------")
            print("You chose Federal Way!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmFEDWAY.predict(df)
            
            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmFEDWAY.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        if x == 10:
            print("----------------------------")
            print("You chose Issaquah!")
           
            input1 = user_menu_w()
            
            selection=[{'bedrooms': input1[0], 'bathrooms': input1[1], 'sqft_lot' :input1[2], 'floors': input1[3], 
                        'waterfront':input1[4], 'condition':input1[5], 'sqft_basement':input1[6], 
                        'yr_built':input1[7],'yr_renovated':input1[8] }]
            df = pd.DataFrame(selection)
            new_pred = lmISSAQUAH.predict(df)

            list1 = list_creation_w(input1)
            prices=[]
        
            for i in range(len(list1)):
                try_list = list1[i]
                selection=[{'bedrooms': try_list[0], 'bathrooms': try_list[1], 'sqft_lot' :try_list[2], 'floors': try_list[3], 
                'waterfront':try_list[4], 'condition':try_list[5], 'sqft_basement':try_list[6], 
                'yr_built':try_list[7], 'yr_renovated':try_list[8] }]
                df = pd.DataFrame(selection)
                preds = lmISSAQUAH.predict(df)
                prices.append(preds)

            min_index = prices.index(min(prices))  
            items = decreased_price_w(min_index, list1)

            print("Your expected home price is:", np.exp(new_pred[0]))
            print("To decrease price most, if you changed " + items[0] + " to " + str(items[1]) + " then your home price would be: ", np.exp(min(prices)[0]))

            
        loop = 0

In [23]:
user_choice()

Select city from list: Seattle(1), Renton(2), Bellevue(3), Kent(4), Redmond(5), Kirkland(6), Auburn(7), Sammamish(8), Federal Way(9), Issaquah(10)
Please input the option number: 3
----------------------------
You chose Bellevue!
Please input the number of bedrooms: 4
Please input the number of bathrooms: 3
Please input the lot square footage: 2500
Please input the number of floors (1+): 2
Would you like a waterfront view? (y/n)y
Please input what condition the home should be in (1-5):4
Would you like a basement? (y/n)n
What year should the house be built in? (1900-2015)1960
Would you like a renovated house? (y/n)n
Your expected home price is: 363112.657640817
To decrease price most, if you changed bedrooms to 3 then your home price would be:  283427.08486101904